@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

footer {
    background-color:rgb(44, 41, 41);
}

#content {
    display: flex;
    font-family: "JetBrains Mono", "monospace", "sans-serif";
    width: 100%!important;
    height: 100vh;
    background-color: #44444d !important;
    border: none !important;
    outline: none;
    padding-left: 10px;
    tab-size: 4px;
    white-space: pre-wrap;
    color: white;
    tab-size: 4;
}