{% extends "base.html" %}
{% block title %}Bomb-Paste - Home{% endblock %}

{% block additional_meta %}
<meta name="description" content="Bomb-Paste - Home">
<meta property="og:image" content="https://raw.githubusercontent.com/Tom-the-Bomb/Bomb-paste/master/static/assets/rooSee.png">
{% endblock %}

{% block save_button %}
<button data-toggle="tooltip" class="btn btn-dark" id="saveButton" title="Save (Ctrl+S)">
    <img src="../assets/save.svg">
</button>
{% endblock %}

{% block edit_button %}
<button data-toggle="tooltip" class="btn btn-dark" id="editButton" title="Clone & Edit" disabled>
    <img src="../assets/edit.svg">
</button>
{% endblock %}

{% block copy_button %}
<button class="btn btn-dark" id="copyButton" data-toggle="tooltip" title="Copy link to clipboard" disabled>
    <img src="../assets/copy.svg">
</button>
{% endblock %}

{% block main_content %}
<div id="content"></div>
{% endblock %}