{% extends "base.html" %}
{% block title %}Bomb-Paste - Home{% endblock %}

{% block language_select %}
<select class="custom-select" id="language-select">
    <option value="volvo">Test</option>
</select>
{% endblock %}

{% block save_button %}
<button class="btn btn-dark" id="saveButton" title="Save">
    <img src="../assets/save.svg">
</button>
{% endblock %}

{% block edit_button %}
<button class="btn btn-dark" id="editButton" title="Clone & Edit" disabled>
    <img src="../assets/edit.svg">
</button>
{% endblock %}

{% block main_content %}
<div id="content"></div>
{% endblock %}