{% extends "base.html" %}
{% block title %}Bomb-Paste - paste{% endblock %}

{% block save_button %}
<button class="btn btn-dark" id="saveButton" title="Save" disabled>
    <img src="../assets/save.svg">
</button>
{% endblock %}

{% block edit_button %}
<button class='btn btn-dark' id="editButton" title="Clone & Edit">
    <img src="../assets/edit.svg">
</button>
{% endblock %}

{% block main_content %}
<div id="content" contenteditable="false">{{ paste_content }}</div>
{% endblock %}

<script>
    highlightResult();
</script>